@import "./bootstrap_extended_adm.scss";

//default styles for application

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $textColor;
  font-family: $mainFont;
  overscroll-behavior-x: none !important;
}

html,
body {
  font-size: $default-font-size;
  color: $white;
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

input {
  text-transform: uppercase;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition-delay: 99999s !important;
    -webkit-transition-delay: 99999s !important;
  }
}

button {
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: 0.2rem solid $yckLightGrey;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.required::after {
  content: "*";
}

.dark-btn {
  background: black !important;
  border: 0.2rem solid black !important;
  color: $white !important;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.close-modal {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    border-radius: 35px;
    border: 1px solid $yckYellow;
    content: " ";
    background-color: $yckYellow;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.pos-r {
  position: relative;
}

.text-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.base-input {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid $background;
  background-color: transparent;
  color: $background;

  &::placeholder {
    color: $background;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.module-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.custom-select,
.custom-select-vs {
  font-size: 1.3rem;
  min-width: 30rem;
}

// styling toastr
#toast-container .toast-message {
  font-size: 1.4rem;
  color: $white;
}
#toast-container .toast-success {
  background-color: #6de46d;
  opacity: 1;
}
#toast-container .toast-error {
  background-color: #ff4137;
  opacity: 1;
}
#toast-container .toast-info {
  background-color: #11c5f9;
  opacity: 1;
}
#toast-container .toast-warning {
  background-color: #ffa64a;
  opacity: 1;
}

//styling scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  transition: background-color 0.8s;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

// styling select for admin

.admin-select {
  .vs__search::placeholder,
  .vs__dropdown-toggle,
  .vs__dropdown-menu {
    background: transparent;
    border: 1px solid $background;
    color: $background;
  }

  .vs__clear,
  .vs__open-indicator {
    fill: $background;
  }
  .vs__dropdown-menu {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: $yckDarkGrey;
  }

  .vs__dropdown-option {
    color: $background;
    font-weight: 500;
  }
  .vs__dropdown-option--highlight {
    color: $yckLightGrey;
    background-color: $background;
  }
  .vs__deselect {
    fill: $yckYellow;
    margin-left: 8px;
  }
  .vs__selected {
    color: $background;
  }
}

// .custom-select .vs__clear,
// .custom-select .vs__open-indicator {
//   fill: $white;
// }

//transitions

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.custom-select-vs {
  .vs__dropdown-toggle {
    border: 1px solid $yckDarkGrey;
  }

  .vs__selected {
    color: $yckDarkGrey;
  }

  &.settings {
    margin-right: 1.5rem;
    height: 3.3rem;

    .vs__dropdown-toggle {
      height: 100%;
    }
  }
}

.v-select.no-border .vs__dropdown-toggle {
  border: none;
}

.vue__time-picker {
  input.display-time {
    border: 1px solid $yckDarkGrey;
    height: 30px;
    border-radius: 0.4rem;
    padding: 0.4rem 1.5rem;
    font-size: 13px;
    color: $yckDarkGrey;
  }

  .controls .char {
    font-size: 25px;
    color: $yckDarkGrey;
    margin-top: 2px;
  }
  .dropdown {
    height: 200px;

    .hint,
    li {
      font-size: 13px;
      color: $yckDarkGrey;
    }

    .select-list {
      height: 200px;
    }
  }
}

.vue__time-picker-dropdown ul li:not([disabled]).active,
.vue__time-picker-dropdown ul li:not([disabled]).active:focus,
.vue__time-picker-dropdown ul li:not([disabled]).active:hover,
.vue__time-picker .dropdown ul li:not([disabled]).active,
.vue__time-picker .dropdown ul li:not([disabled]).active:focus,
.vue__time-picker .dropdown ul li:not([disabled]).active:hover {
  background-color: $yckDarkGrey;
}

.admin-wrapper {
  .custom-list {
    h1 {
      color: $white;
      margin: 20px 0;
    }

    .table-holder {
      margin-top: 20px;
      padding: 20px;
    }
  }
}

.btn-container button.squared {
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  color: $white;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 0.1rem solid #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 8rem;
  border-radius: 0.4rem;

  &.active,
  &:hover {
    background-color: $white;
    color: $yckLightGrey;
  }
}

.swal2-popup {
  width: 40em;
  font-size: 1.4rem;
}

@media (min-width: 700px) {
  body {
    overflow-x: hidden;
    height: 100%;
  }
}

@media print {
  *[data-ignore-on-print="true"] {
    display: none !important;
  }
  [data-purpose="print"] {
    display: initial;
  }
}
